:root {
    font-size: 5rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 75%;
    width: 50%;
    display: grid;
    gap: 5px;
    background: gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div[class^='cell']{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}