:root {
    font-size: 5rem;
    font-family: Verdana, sans-serif;
}

header {
    width: 100%;
    padding: 20px;
}

header, button {
    background: gold;
    filter: brightness(100%);
    box-shadow: 2.2px 4.4px 4.4px hsl(0deg 0% 0% / 0.18);
}

button {
    font-size: 0.25rem;
}

h1 {
    font-size: 0.5rem;
    text-align: center;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px;
}

body > button {
    border-radius: 5px;
    max-width: 100%;
    padding: 10px;
}

.game-board {
    height: 75%;
    width: 50%;
    display: grid;
    gap: 5px;
    background: gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div[class^='cell']{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4.4px 8.8px 8.8px hsl(0deg 0% 0% / 0.36);
}